---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TimeLine from "../components/TimeLine/TimeLine.astro";
import Social from "../components/Social.astro";
import Hero from "../components/Hero.astro";

---
<Layout
	title="Porfolio - Lucas Cordero"
	description="Programador web con 2 años de experiencia, FullStack, apasionado por crear soluciones digitales eficientes y experiencias de usuario excepcionales"
>
	<main>
		<SectionContainer id="home" class="pt-44 pb-32">
			<Hero/>
			<Social />
		</SectionContainer>

		<SectionContainer id="experiencia">
			<TimeLine></TimeLine>
		</SectionContainer>
	</main>
</Layout>