<section>
    <h2 class="text-2xl font-bold opacity-80 mb-2">
        Sobre mí
    </h2>
    <p>Soy Lucas, me dicen Luki. Después de años estudiando la Ingeniría en Sisitemas de Información me encaminé en ser autodidacta. Realicé multiples Bootcamps y Cursos de media/larga duración gestionados por el gobierno de <span class="text-blue-400 font-medium">Argentina</span>.</p>
    <p>En mi tiempo libre me dedico a dibujar (o al menos intentarlo) para desconectarme. A lo largo del tiempo noté que esto me ayudó para afinar mi ojo critico el FrontEnd.</p>
    <p></p>
</section>

<style>
    p{
        text-wrap: pretty;
    }
</style>