<section>
    <h2 class="text-2xl font-bold opacity-80 mb-2">
        Sobre mí
    </h2>
    <p>Apasionado estudiante en Ingenieria Informática. Después de dedicar años a mi formación académica, decidí tomar las riendas de mi aprendizaje y convertirme en un autodidacta. Me sumergí en múltiples bootcamps y cursos de duración media/larga respaldados por el gobierno de <span class="text-blue-400 font-semibold">Argentina</span>, perfeccionando mis habilidades y manteniéndome a la vanguardia de las últimas tendencias tecnológicas.</span>.</p>
    <p>Además de mi fascinación por el mundo tecnológico, tengo un lado creativo que me lleva a <span class="text-green-500">dedicar mi tiempo libre al dibujo</span>, una actividad que no solo me permite desconectar, sino que también ha afinado mi ojo crítico para el FrontEnd. </p>
    <p></p>
</section>

<style>
</style>