<header class="flex justify-between items-center py-5 md:w-[740px] w-[80%] mx-auto" >
    <!--  -->
    <img src="/Logo.svg" alt="Logo Lucas Cordero" class="size-16 dark:fill-white fill-black">
    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="/#experiencia">Experiencia</a>
        <a href="/#proyectos">Projectos</a>
        <a href="/#sobre-mi">Sobre mí</a>
    </nav>
</header>
