---
import ThemeToggle from "./ThemeToggle.astro";
import Logo from '../icons/Logo.astro'
---

<header class="flex justify-between items-center py-5 md:w-[768px] lg:w-[1024px] mx-auto gap-x-1" >
    <!--  -->
    <a href="/"><Logo class="size-16 dark:fill-white fill-black" /></a>
    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a class="hover:bg-black/15 rounded-3xl py-1 px-2 dark:hover:bg-white/15" href="/#experiencia">Experiencia</a>
        <a class="hover:bg-black/15 rounded-3xl py-1 px-2 dark:hover:bg-white/15" href="/#proyectos">Projectos</a>
        <a class="hover:bg-black/15 rounded-3xl py-1 px-2 dark:hover:bg-white/15" href="/#sobre-mi">Sobre mí</a>
    </nav>
    <ThemeToggle/>
</header>
