---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";


---
<nav class="mt-6 flex flex-row gap-x-10 items-center justify-between sm:gap-x-16 sm:justify-around md:justify-normal">
    <a href="https://www.github.com/lucordero" target="_blank">
        <GitHub class="size-10 sm:size-8 hover:scale-125 transition"/>
    </a>

    <a href="https://www.linkedin.com/in/lucascordero" target="_blank">
        <LinkedIn class="size-10 sm:size-8 fill-white hover:scale-125 transition"/>
    </a>

    <!-- TODO: mostrar tooltip al presionar el boton -->
    <button class="flex hover:scale-125 transition cursor-pointer" id="copyEmail" onclick="copyText()">
        <Mail class="size-12 sm:size-10"></Mail>
    </button>
</nav>
<script is:inline>
    let copyEmailElement = document.getElementById('copyEmail')
	copyEmailElement.addEventListener('click', function() {
		navigator.clipboard.writeText('lucascordero1997@gmail.com');
	});
    
</script>