---
import DataBaseIcon from "../icons/DataBase.astro";
import TecnologyPill from "./TecnologyPill.astro";
import Php from "../icons/Php.astro";
import Symfony from "../icons/Symfony.astro";
import Server from "../icons/Server.astro";
import DataBase from "../icons/DataBase.astro";
---

<section class="mx-auto">
    <h2 class="text-2xl font-semibold text-white opacity-80 mb-2">
        Experiencia
    </h2>

    <li class="flex flex-col items-start gap-y-3">
        <h4 class="text-xl flex items-center text-blue-200">
            Desarrollador Full Stack - Servicio Público Provincial de Defensa
            Penal
        </h4>
        <div class="">
            <div class="flex flex-row justify-between items-center mb-2">
                <div
                    class="flex items-center justify-start space-x-4 dark:text-gray-400"
                >
                    <ul class="">
                        <span
                            class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full dark:border-gray-700 hover:bg-white/5"
                        >
                            <Php />
                            <span> Php</span>
                        </span>
                        <span
                            class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full dark:border-gray-700 hover:bg-white/5"
                        >
                            <Symfony />
                            <span> Symfony</span>
                        </span>
                        <span
                            class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full dark:border-gray-700 hover:bg-white/5"
                        >
                            <DataBase />
                            <span> MariaDB</span>
                        </span>
                        <span
                            class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full dark:border-gray-700 hover:bg-white/5"
                        >
                            <Server />
                            <span> Apache</span>
                        </span>
                    </ul>
                </div>
                <span class="text-xs whitespace-nowrap opacity-70"
                    >Jun 2023 - Actualidad</span
                >
            </div>
            <div class="flex flex-col gap-y-8">
                <div
                    class="pl-6 flex flex-col items-start justify-between"
                >
                    <div
                        class="flex justify-between items-center gap-x-4 w-full"
                    >
                        <span
                            aria-hidden="true"
                            class="h-1.5 w-1.5 rounded-full dark:bg-blue-200/80"
                        ></span>
                        <h6 class="mb-2 text-xl opacity-90 w-[90%] dark:text-green-200 text-green-800">
                            Proyecto Gestión Reportes de Usuario
                        </h6>
                        <p class="text-xs whitespace-nowrap opacity-80">
                            +3 meses
                        </p>
                    </div>
                    <p class="px-6 mb-1 text-pretty">
                        Se logra un seguimiento y descentralización de los reportes de usuario con respecto a aplicaciones de terceros o uso de celulares personales.
                    </p>
                    <p class="px-6 mb-1 text-pretty">
                        Se consigue analizar y recopilar información de los tipos de reportes para así lograr un mantenimiendo preventivo de manera eficaz.
                    </p>
                </div>
                <div
                    class="pl-6 flex flex-col items-start justify-between"
                >
                    <div
                        class="flex justify-between items-center gap-x-4 w-full"
                    >
                        <span
                            aria-hidden="true"
                            class="h-1.5 w-1.5 rounded-full dark:bg-blue-200/80"
                        ></span>
                        <h6 class="mb-2 text-xl opacity-90 w-[90%] dark:text-green-200 text-green-800">
                            Proyecto Gestión de Solicitudes de Licencia
                        </h6>
                        <p class="text-xs whitespace-nowrap opacity-80">
                            14 meses
                        </p>
                    </div>
                    <p class="px-6 mb-1 text-pretty">
                        Sistema embebido sobre uno ya existente en Symfony 5 el cual servía para acumular y controlar la asistencia de usuarios a su lugar de trabajo. 
                    </p>
                    <p class="px-6 mb-1 text-pretty">
                        Se logró la capacidad de relacionar la existencia de una solicitud de licencia de un agente con la inasistencia del mismo para mejorar el analisis de reportes más de un 60%.
                    </p>
                    <p class="px-6 mb-1 text-pretty">
                        UX/UI sencilla y eficiente para usuarios que no estan habituados al uso de sistemas web.
                    </p>
                </div>

                
            </div>
        </div>
    </li>
</section>
